# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

poetry.toml

# PyBuilder
.pybuilder/
target/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/